.container {
	max-width: 500px; /* Adinanddo um limite maximo de 300px de largura */
	margin-bottom: 20px; /* Define uma área de margem  na parte inferior de um elemento */
	border: 1px solid black; /* Borda nos containers */
	display: flex; /* Cada item de dentro desse container vai ocupar o max do conteudo 
							e vai se abrigar dentro dele respeitando a orientação em linha 
						*/
}

/*
   ##########################################
   #                Flex Basis              #
   ##########################################
*/

.baute {
	flex-basis: auto; /* Todos os elementos tem o mesmo espaçamento entre eles */
}

.bzero {
	flex-basis: 0; /* Tentara colocar todos os elementos com o mesmo espaço */
}

.w100 {
	flex-basis: 100px; /* Tem 100px antes de ter as suas distribuições definidas */
}

.fg-0 {
	flex-grow: 0;
}

.fg-1 {
	flex-grow: 1;
}

.fg-2 {
	flex-grow: 2;
}


/*
   ##########################################
   #        Estilização dos conteudos       #
   ##########################################
*/

h1, div {
	font-family: monospace; /* Alteração da fonte */
	font-size: 20px; /* Tamanho da fonte em 20px */
}

.item {
	background-color: orange; /* Cor de fundo laranja */
	color: white; /* Cor dos caracteres branco */
	text-align: center; /* Texto centralizado */
	margin: 5px; /* Espamento entre os caracteres e o container */
	padding: 10px; /* Uma distância entre o conteúdo de um elemento e suas bordas */
}
