.container {
	margin-bottom: 20px; /* Espaçamento abaixo de 30px em cada container */
	max-width: 350px; /* Adinanddo um limite maximo de 400px de largura */
	border: 1px solid black; /* Borda nos containers */
	display: flex; /* Cada item de dentro desse container vai ocupar o max do conteudo 
							e vai se abrigar dentro dele respeitando a orientação em linha 
						*/
}

/*
   ##########################################
   #               Align Items              #
   ##########################################
*/

.flex {
	flex: 1;
}

.start {
	align-items: flex-start; /* Alinha os itens no topo do container */
}

.end {
	align-items: flex-end; /* Alinha os itens no final do container */
}

.center {
	align-items: center; /* São alinhado pelo eixo de linha */
}

.stretch {
	align-items: stretch; /* Os itens crescem de acordo com o maior conteudo */
}

.baseline {
	align-items: baseline; /* Os itens crescem de acordo com a linha base da fonte */
}


/*
   #########################################
   #          Align Items - Column         #
   #########################################
*/

.column {
	flex-direction: column;
}

/*
   ##########################################
   #        Estilização dos conteudos       #
   ##########################################
 */

h1, div{
	font-family: monospace; /* Alteração da fonte */
	font-size: 20px; /* Tamanho da fonte em 20px */
}

.item {
	background-color: blueviolet; /* Cor de fundo roxa */
	color: white; /* Cor dos caracteres branco */
	text-align: center; /* Texto centralizado */
	margin: 5px; /* Espamento entre os caracteres e o container */
	flex: 1; /* Abreviação para Flex-Grow */
}
